{% extends 'Store/layout.html' %}
{% load static %}

{% block title %} Store-Customer{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart-customer' %}">Cart</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">	
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mt-3">
      <p class="icontext"><i class="icon text-{{ message.tags }}"></i>{{ message }}</p>
    </div>
  {% endfor %}
  {% endif %}
	{% for category, books in categories.items %}
	  <h3 class="h3 mt-3 mb-3">{{ category }}</h3>
	  {% for book in books %}
	    {% if forloop.first %}<div class="row">{% endif %}
	      <div class="col-md-3 col-sm-6">
	        <div class="product-grid2">
	          <div class="product-image2">
	            <a href="{% url 'book-details' book.book_id %}">
	              <img class="pic-1" src="{{ book.image_file.url }}">
	              <img class="pic-2" src="{{ book.image_file.url }}">
	            </a>
	            <ul class="social">
	              <li><a href="{% url 'book-details' book.book_id %}" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
	              <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
	              <li><a href="{% url 'cart-item' book.book_id %}" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
	            </ul>
	            <!-- <form action="{% url 'cart-item' book.book_id %}"> -->
	            	<a class="add-to-cart" type="submit" href="{% url 'cart-item' book.book_id %}">Add to cart</a>	            	
	            <!-- </form> -->
	          </div>
	          <div class="product-content">
	            <h3 class="title"><a href="{% url 'book-details' book.book_id %}">{{ book.book_name }}</a></h3>
	            <span class="price">Rs.{{ book.book_price }}</span>
	          </div>
	        </div>
	      </div>
	    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
		{% if forloop.last %}</div>{% endif %}
	{% endfor %}
{% endfor %}
</div>
{% endblock %}
<!-- 
<img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-1.jpeg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-2.jpeg"> -->